.register-container{
    position: absolute;
    top:20%;
    left: 30%;
    border-radius:3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    width: 30%;

}

.register-container input, .register-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.register-container button{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left:5%;
}
.register-container a{
    color:rgb(110, 239, 4);
}

@media (max-width:1000px){
    .register-container{
        width:90%;
        left:6px;
        padding:10px;
        height: 60%;
        top:30%;

    }
}

