:root{
    --font-ui: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
               Arial, "Noto Sans", "Liberation Sans", sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono",
                 "Roboto Mono", monospace;
}

.med_dom{
    width: 20%;
    border-radius:4%;
    left:10%;
    justify-items: center;
    height: auto;
    overflow: auto;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top: 20%;
}
.med_dom button{
    width: 80%;
    padding: 10px;
    background-color: #0ca7ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin: 10px;
    justify-self: center;
    margin-left:10%;
}

.medication_list{
    position: absolute;
    top: 20%;
    width:50%;
    height: auto;
    overflow-y: auto;
    padding: 10px;
    background-color: rgba(88, 181, 225, 0.8);
    border-radius:3%;
    left:45%;
    justify-items: center;
    font-family: var(--font-ui);
    

}
.medication_list ul{
    list-style-type: none;
    padding: 0;
    
}

@media (max-width:1000px){
    .med_dom{
        top:30%;
        width:80%;
        left: 40px;
    }
    .medication_list{
        height: auto;
        width:90%;
        flex-direction: column;
        top: 130%;
        left:6px;
    }
}