{% extends 'pda_app/layout.html'%}
{%load static %}
{% block title %}Login{% endblock %}

{% block styles %}
<link rel='stylesheet' href="{% static 'pda_app/css/login.css' %}"/>
<link rel='stylesheet' href="{% static 'pda_app/css/znav.css' %}"/>
{%endblock%}

{% block content %}
<div class="login-container">

    <h2>Login</h2>
  <form id="loginForm">
    <input type="email" id="email" placeholder="Email" required><br>
    <input type="password" id="password" placeholder="Password" required><br>
    <button type="submit">Login</button>
  </form>
  <div id="message"></div>
  <h4>Don't have an account?..<a href="{% url 'pda_app:register' %}">Register</a></h4>

</div>
<div class='z_navbar'>
  <a href="{% url 'pda_app:login'%}"><button><img src='https://cdn-icons-png.flaticon.com/128/17506/17506996.png'/></button></a>
  <a href="{% url 'pda_app:register' %}"><button><img src='https://cdn-icons-png.flaticon.com/128/2921/2921147.png'/></button></a>
</div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('loginForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        console.log('attempting to submit');
  
        const data = {
          email: document.getElementById('email').value,
          password: document.getElementById('password').value,
        };
  
        try {
          const res = await fetch('https://pda-pro-api.onrender.com/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            credentials:'include',
            body: JSON.stringify(data),
          });
  console.log(res.status);
  let result;
  try{
          result = await res.json();
          console.log(result);
  }catch(jsonErr){
    console.error(jsonErr);
    document.getElementById('message').innerText = '⚠️ Unexpected server response';
        return;
      }


  console.log("attempting to login");
          if (res.ok && result.token) {
            localStorage.setItem('token', result.token);
  
            const payload = JSON.parse(atob(result.token.split('.')[1]));
            const currentUserId = payload.userId;
  
            console.log("Logged in User ID:", currentUserId);

            console.log("trying to redirect home");

          
            window.location.href = "/home";
            
          } else {
            document.getElementById('message').innerText = result.message || result.error;
            
          }
        } catch (err) {
          console.error("Fetch failed:", err);
          document.getElementById('message').innerText = '⚠️ Server error';
        }
      });
    });
  </script>

  

{%endblock%}